<% include ../layouts/header %>

<div class="container-fluid">
    <section>
      <div style="padding-bottom: 12px;">
        <h3>Phone Numbers</h3>
      </div>
      <div>
        <form id="display_filter_form" action="/phones?" class="form-inline">          
          <a class="btn btn-mini pull-right" href="/phones/new">Load New Numbers</a>
        </form> 
      </div>
    
      <form class="form-inline" action="phones/update/activate" method="post" id="activation_form">
        <table class="table table-bordered table-condensed">
          <thead>       
            <tr>
              <th style="width: 15%"><a href="#">Phone Number</a></th>
              <th><a href="#">Website URL</a></th>
              <th><a href="#">Destination Number</a></th>         
              <th style="width: 20%"><a href="#">Visitor Ids</a></th>
              <th style="width: 10%"><a href="#">Display</a></th>
              <th style="width: 3%"> <input type="checkbox" id="main_checkbox">  </th>                  
            </tr>
          </thead>
          <tbody>    
              <% phones.forEach(function(phone){ %> 
                <tr>
                  <td><a data-remote="true" data-controls-modal="myModal" href="/phones/24/edit_single">8552059343</a></td>
                  <td><%= phone.site.website_url %></td>
                  <td><%= phone.destinationNumber %></td>
                  <td>[]</td>
                  <td>Assigned</td> 
                  <td> <input type="checkbox" value="24" name="phone[24]"> </td>        
                </tr>
              <% }) %>                
        </tbody>          
      </table>
    </form>   
  </section>
</div>

<% include ../layouts/footer %>