<% include ../layouts/header %>

<div class="container-fluid">
    <section>
      <div style="padding-bottom: 12px;">
        <h3>Phone Numbers</h3>
      </div>
      <div>
        <form id="display_filter_form" action="/phones?" class="form-inline">
          <label>Display : </label>
          <select name="active" id="display_filter">
            <option value="1">  Active</option>
            <option value="0">Inactive</option>
            <option value="all">All</option>
              <option value="no_website">No Website</option>
          </select>
          Action : <a class="btn btn-mini" id="activate_phone" href="#">activate</a> <a class="btn btn-mini" id="deactivate_phone" href="#">desactivate</a>
          <a class="btn btn-mini pull-right" href="/phones/new">Load New Numbers</a>
        </form> 
      </div>
    
      <form class="form-inline" action="phones/update/activate" method="post" id="activation_form">
        <table class="table table-bordered table-condensed">
          <thead>       
            <tr>
              <th style="width: 15%"><a href="/phones?direction=asc&amp;sort=phone_number">Phone Number</a></th>
              <th><a href="/phones?direction=asc&amp;sort=sites.website_url">Website URL</a></th>
              <th><a href="/phones?direction=asc&amp;sort=destination_number">Destination Number</a></th>         
              <th style="width: 20%"><a href="/phones?direction=asc&amp;sort=visitors_ids">Visitor Ids</a></th>
              <th style="width: 10%"><a href="/phones?direction=asc&amp;sort=active">Display</a></th>
              <th style="width: 3%"> <input type="checkbox" id="main_checkbox">  </th>                  
            </tr>
          </thead>
          <tbody>           
                <tr>
                <td><a data-remote="true" data-controls-modal="myModal" href="/phones/24/edit_single">8552059343</a></td>
                <td>http://www.billionauto.com</td>
                <td><span data-type="input" data-attribute="destination_number" data-object="phone" data-url="/phones/24" id="best_in_place_phone_24_destination_number" class="best_in_place">6128405950</span> </td>
                <td>[9799]</td>
                <td>Assigned</td> 
                <td> <input type="checkbox" value="24" name="phone[24]"> </td>        
              </tr>   
                <tr style="background-color: #dff0d8;">
                <td><a data-remote="true" data-controls-modal="myModal" href="/phones/82/edit_single">8888888888</a></td>
                <td>http://www.billionauto.com</td>
                <td><span data-type="input" data-attribute="destination_number" data-object="phone" data-url="/phones/82" id="best_in_place_phone_82_destination_number" class="best_in_place">5765551212</span> </td>
                <td>[8252, 8253, 8254] ...</td>
                <td>Default</td>  
                <td> <input type="checkbox" value="82" name="phone[82]"> </td>        
              </tr>   
        </tbody>          
      </table>
    </form>
    
    
  </section>
</div>

<% include ../layouts/footer %>